:root {
  /* Primitive design tokens  */
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey-950: hsl(200, 15%, 8%);
  --color-grey-400: hsl(200, 15%, 8%);
  --color-grey-350: hsl(0, 0%, 59%);
  --color-grey-300: hsl(0, 0%, 70%);
  --color-grey-250: hsl(0, 0%, 77%);
  --color-grey-50: hsl(0, 0%, 99%);
  --color-blue-950: hsl(207, 26%, 17%);
  --color-blue-900: hsl(209, 23%, 22%);

  --space-100: 0.5rem;
  --space-200: 1rem;
  --space-300: 1.5rem;
  --space-400: 2rem;
  --space-500: 2.5rem;
  --space-600: 3rem;
  --space-700: 3.5rem;
  --space-800: 4rem;
  --space-900: 4.5rem;
  --space-1000: 5rem;

  /* design tokens */
  --color-bg: var(--color-grey-50);
  --color-foreground: var(--color-grey-950);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito Sans", sans-serif;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

body {
  background-color: var(--color-bg);
  color: var(--color-foreground);
}

.header {
  width: 100%;
  box-shadow: 0px 2px 4px hsla(0, 0%, 0%, 0.05);
  margin-bottom: var(--space-600);
}

.header__container {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
}

.header__container h1 {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.37;
}

.header__theme-btn {
  font-size: 1rem;
  border: 0;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  padding: var(--space-100);
}

.header__theme-btn:focus {
  outline: 1px solid var(--color-foreground);
}

.header__theme-btn:focus-visible {
  outline: 1px solid var(--color-foreground);
}
