:root {
  /* Primitive design tokens  */
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey-950: hsl(200, 15%, 8%);
  --color-grey-400: hsl(0, 0%, 50%);
  --color-grey-350: hsl(0, 0%, 59%);
  --color-grey-300: hsl(0, 0%, 70%);
  --color-grey-250: hsl(0, 0%, 77%);
  --color-grey-50: hsl(0, 0%, 99%);
  --color-blue-950: hsl(207, 26%, 17%);
  --color-blue-900: hsl(209, 23%, 22%);

  --space-100: 0.5rem;
  --space-200: 1rem;
  --space-300: 1.5rem;
  --space-400: 2rem;
  --space-500: 2.5rem;
  --space-600: 3rem;
  --space-700: 3.5rem;
  --space-800: 4rem;
  --space-900: 4.5rem;
  --space-1000: 5rem;

  /* design tokens */
  --color-bg: var(--color-grey-50);
  --color-foreground: var(--color-grey-950);
  --color-card-bg: var(--color-white);
  --color-muted: var(--color-grey-400);
  --color-shadow: hsla(0, 0%, 0%, 0.1);
  --color-shadow-light: hsla(0, 0%, 0%, 0.05);
}

.dark {
  --color-bg: var(--color-blue-950);
  --color-foreground: var(--color-white);
  --color-card-bg: var(--color-blue-900);
  --color-muted: var(--color-white);
  --color-shadow: hsla(0, 0%, 0%, 0);
  --color-shadow-light: hsla(0, 0%, 0%, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: inline-block;
  max-width: 100%;
}

ul {
  list-style: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
}

body {
  background-color: var(--color-bg);
  color: var(--color-foreground);
}

.header {
  width: 100%;
  box-shadow: 0px 2px 4px var(--color-shadow-light);
  margin-bottom: var(--space-600);
  padding: 0rem 1rem;
  background-color: var(--color-card-bg);
}

.header__container {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.header__container h1 {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.37;
}

.header__theme-btn {
  font-size: 1rem;
  border: 0;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  padding: var(--space-100);
  box-shadow: 0px 0px 4px var(--color-shadow);
}

.header__theme-btn:focus {
  outline: 1px solid var(--color-foreground);
}

.header__theme-btn:focus-visible {
  outline: 1px solid var(--color-foreground);
}

html.dark .visible-light {
  display: none;
}

html:not(.dark) .visible-dark {
  display: none;
}

.main-container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0rem 1rem;
}

@media (width<600px) {
  .header__container h1 {
    font-size: 1rem;
  }
}
